* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.slideshow {
  margin: 0;
  height: 1000px;
  padding-top: 200px;
  
  background: url('https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc28d43095579c8b5/5d87c24e8d8a3163705e3070/summonersrift.jpg') no-repeat 10%;
}

.content {
  position: relative;

  margin: auto;
  width: 190px;
  padding-top: 80px;

  perspective: 900px;
}

.content-carrousel {
  position: absolute;
  
  width: 180px;
  float: right;

  transform-style: preserve-3d;

  animation: 15s rotar linear infinite;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  position: absolute;

  width: 100%;
  height: 120px;

  border: 1px solid #4D444D;

  overflow: hidden;
  
}

.content-carrousel figure:last-child {
  margin-top: -200px;
  border: none;
  box-shadow: none;

}


.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);

}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0 0 20px 0 #000;
  border-radius: 8px;

}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transform: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to{
    transform: rotateY(360deg);
  }
}